*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
}

div.container{
    /* width: 80%; */
    margin: 10% auto;
    /* border: 1px solid red; */
    /* text-align: center; */
    align-items: center;
    
    
}

div.form{
    /* border: 1px solid rgb(33, 131, 66); */
    width: 80%;
    margin: 0 auto;
    background-color: rgb(39, 32, 32);
    color: white;
    padding: 10px 10px 0 10px;
    border-radius: 10px;
    
}


input,label{
    margin-bottom: 20px;
}

input{
    width: 60px;
    height: 30px;
}
p#instruction{
    color:red;
    margin-bottom: 10px;
}

#copyright{
    text-align: center;
    color: blue;
    position: relative;
    bottom: 0px;
    /* border: 1px solid red; */
}

button{
    margin-bottom: 20px;
    padding: 10px 30px;
    font-size:20px ;
}

@media (min-width:600px){

    div.form{
        padding: 10px 0 0 10px;
        width: 50%;
    }
    
} 

h2{
    color: yellow;
    margin-bottom: 5px;
}