*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
}

div.container{
    /* width: 80%; */
    margin: 10% auto;
    border: 1px solid red;
    /* text-align: center; */
    align-items: center;
    
}

div.form{
    border: 1px solid rgb(33, 131, 66);
    width: 80%;
    
}




input,label{
    margin-bottom: 20px;
}

p#instruction{
    color:red;
    margin-bottom: 10px;
}

#copyright{
    text-align: center;
    color: blue;
    position: relative;
    bottom: 0px;
    /* border: 1px solid red; */
}

button{
    margin: 20px;
}